<form
    xui-element-name="labels_on_left_form"
    hx-{{(xor method 'post')}}="{{action}}"
    hx-swap="{{(xor swap 'outerHTML')}}"
    hx-target="{{(xor target '[xui-element-name=\'labels_on_left_form\']')}}"
    {{#if boost}}hx-boost="true"{{/if}}
    {{#if push_url}}hx-push-url="{{push_url}}"{{/if}}
    {{#if headers}}hx-headers="{{headers}}"{{/if}}
>
    <div class="space-y-12 sm:space-y-16">
        <div class="mt-10 space-y-8 border-b border-zinc-400/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-zinc-400/10 sm:border-t sm:pb-0">
            {{> @partial-block}}
        </div>
    </div>

    {{#unless hide_control_buttons}}
        <div class="mt-6 flex items-center justify-center md:justify-end gap-x-6">
            {{> partials/atoms/button 
                label="Verwerfen"
                style="secondary"
                get=reset
                target=(xor reset_target "[xui-element-name='labels_on_left_form']")
                swap=(xor reset_swap "outerHTML")
            }}
            {{> partials/atoms/button label="Speichern" style="primary"}}
        </div>
    {{/unless}}

    {{#each errors}}
        <p class="text-red-400" align="center">{{this}}</p>
    {{/each}}
</form>