{{#*inline "tag_type"}}
    {{#if href}}
        <a {{> tag_attributes}}>{{label}}</a>
    {{else}}
        <button {{> tag_attributes}}>{{label}}</button>
    {{/if}}
{{/inline}}

{{#> tag_type}}

    {{#*inline "tag_attributes"}}
        class="inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full py-1 px-3 bg-emerald-500 hover:bg-emerald-400 {{button_type style}}"
        {{#if post}}
            hx-post="{{href}}"
        {{else}} {{#if href}}
            href="{{href}}"
        {{else}} {{#if get}}
            type="button"
            hx-get="{{get}}"
            {{#if target}}hx-target="{{target}}"{{/if}}
            {{#if swap}}hx-swap="{{swap}}"{{/if}}
        {{else}}
            type="submit"
        {{/if}}{{/if}}{{/if}}
    {{/inline}}

{{/tag_type}}