{{#*inline "tag_type"}}
    <a {{> tag_attributes}}>{{> tag_label}}</a>
{{/inline}}

{{#if (check_auth_required this.requires_auth this.authenticated_user.email)}}
    <li class="relative mt-6">
        <h2 class="text-xs font-semibold text-zinc-900 dark:text-white">
            {{label}}
        </h2>
        <div class="relative mt-3 pl-2">
            <ul role="list" class="border-l border-transparent">
                {{#each this.items}}
                    {{#unless (hide_if_authenticated this.hidden_if_authenticated ../authenticated_user.email)}}
                        <li class="z-10 mt-6">
                            {{#> tag_type}}

                                {{#*inline "tag_attributes"}}
                                    {{#if ../use_full_page_layout}}
                                        href="{{this.href}}"
                                    {{else}}
                                        href="{{this.href}}"
                                        hx-get="{{this.href}}"
                                        hx-target="#swap-content"
                                        hx-swap="innerHTML transition:true"
                                        xui-el="Navigation"
                                        xui-is-nav
                                    {{/if}}
                                    class="flex cursor-pointer justify-between gap-2 py-1 pr-3 text-sm transition hover:text-white
                                        {{#if (eq this.href ../requested_path)}} text-white font-bold{{else}} text-zinc-400{{/if}}
                                    "
                                {{/inline}}

                                {{#*inline "tag_label"}}
                                    <span class="truncate">{{this.label}}</span>
                                {{/inline}}

                            {{/tag_type}}
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </li>
{{/if}}