<li 
    {{#unless create}}
    class="{{#if (eq authenticated_user.selected_shopping_list_id id)}}selected{{else}}pulsing cursor-pointer{{/if}}"
    id="shopping-list-{{id}}"
    title="Einkaufszettel wählen"
    hx-post="/user/save_selected_shopping_list/{{id}}"
    hx-swap="none"
    {{#if (eq authenticated_user.selected_shopping_list_id id)}}
        xui-hx-disabled="1"
    {{/if}}
    {{/unless}}
>
    <div 
        class="overflow-hidden rounded-xl border border-white/10 bg-zinc-900/90 {{#if create}}border-dashed{{/if}}"
    >
        
        <div class="flex items-center gap-x-4 border-b border-white/20 p-6 {{#if create}}border-dashed{{/if}}">
            <div class="relative">
                <div 
                    style="font-size:1.5rem;line-height:2.5rem;{{#unless (xor create emoji_presentation)}}padding-top:2.5rem;{{/unless}}"     
                >
                    {{#if create}}
                        &#128722;
                    {{else}}
                        {{#if emoji_presentation}}
                            &#{{emoji_presentation}};
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <div class="text-sm font-medium leading-6 text-white {{#if create}}italic{{/if}}">
                {{#if create}}
                    Neuen Zettel anlegen
                {{else}}
                    {{name}}
                {{/if}}
            </div>
            <div class="relative ml-auto">
                <button 
                    type="button"
                    class="-m-2.5 block p-2.5 text-zinc-400 hover:text-zinc-500 {{#if create}}{{!-- pulsing --}}{{/if}}"
                    {{#unless create}}xui-el="PopoverToggle" xui-toggle-btn="list-entry-{{id}}" title="Bearbeiten"{{/unless}}
                >
                    {{#if create}}
                        {{#> partials/atoms/link is_ajax_action=true href="/einkaufszettel/anlegen"}}
                            {{> icons/plus}}
                        {{/partials/atoms/link}}
                    {{else}}
                        {{> icons/three_dots}}
                    {{/if}}
                </button>
                {{!-- TODO these need to be 2 icons NOT inside a dropdown --}}
                {{#unless create}}
                    <div xui-toggle-target="list-entry-{{id}}" class="
                        absolute right-0 mt-0.5 w-32 origin-top-right rounded-md bg-zinc-900 py-2 shadow-lg border border-white/10 focus:outline-none
                        transition ease-out duration-100 transform 
                        -z-50 opacity-0 scale-95
                    ">
                        {{#> partials/atoms/link 
                            is_ajax_action=true
                            href=(concat "/einkaufszettel/" id)
                            className="block px-3 py-1 leading-6 text-sm"
                            stop_propagation="post"
                        }}
                            Bearbeiten
                        {{/partials/atoms/link}}
                        {{> partials/atoms/link 
                            method="delete"
                            href=(concat "/shopping_list/delete/" id "?page=" (prev_page_if_last_item pagination.page current_list))
                            className="block px-3 py-1 leading-6 text-sm" 
                            target=(concat '#shopping-list-' id)
                            swap="outerHTML"
                            label="Löschen"
                            stop_propagation=(concat "/user/save_selected_shopping_list/" id)
                        }}
                    </div>
                {{/unless}}
            </div>
        </div>

        <dl class="divide-y divide-white/10 px-6 py-4 text-sm leading-6 {{#if create}}divide-dashed{{/if}}"> {{!--  bg-zinc-800/90 --}}
            <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-zinc-400">Erstellt am</dt>
                <dd class="text-white">
                    {{#unless create}}<time datetime="{{created_at}}">{{(humanize_utc_time created_at true)}}</time>{{/unless}}
                </dd>
            </div>
            <div class="flex justify-between gap-x-4 py-3">
                <dt class="text-zinc-400">Kosten</dt>
                <dd class="flex items-start gap-x-2">
                    {{#unless create}}
                        <div class="font-medium text-white">--.--</div>
                        {{#if success}}
                            <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Gut</div>                        
                        {{else}}
                            {{#if failed}}
                            <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-red-700 bg-red-50 ring-red-600/10">Schlecht</div>
                        {{/if}}{{/if}}    
                    {{/unless}}
                </dd>
            </div>
        </dl>

    </div>
</li>