{{#> partials/atoms/link 
    is_ajax_action=true
    is_entering_detail_view=true
    href=(concat "/produkt/" id)
    stop_propagation="post"
}}
<li class="flex justify-between gap-x-6 py-5" id="{{id}}">
    <div class="flex min-w-0 gap-x-4">
        <div class="h-12 w-12">
            {{#each images}}
                {{#if @first}}
                    <img 
                        class="flex-none rounded-full bg-gray-800"
                        src="{{this}}"
                        alt="{{../name}}"
                    >
                {{/if}}
            {{/each}}
        </div>
        <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 max-h-6 truncate text-white">
                {{{name}}}
            </p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-400 hidden sm:block">
                {{#if price}}{{format_price price}}{{else}}--.--{{/if}} {{price_currency}}
            </p>
            <ul class="sm:hidden">
                <li>{{#if price}}{{format_price price}}{{else}}--.--{{/if}} {{price_currency}}</li>
                <li><time datetime="{{created_at}}">{{(humanize_utc_time created_at true)}}</time></li>
                <li>
                    <div class="mt-1 flex items-center gap-x-1.5">
                        <div class="flex-none rounded-full bg-emerald-500/20 p-1">
                            <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
                        </div>
                        <p class="text-xs leading-5 text-gray-400">Verfügbar</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        {{!-- TODO hier kann auch LIDL etc rauskommen nachdem ich das über INNER JOIN mitziehe --}}
        <p class="text-sm leading-6 text-white">
            <time datetime="{{created_at}}">{{(humanize_utc_time created_at true)}}</time>
        </p>
        {{!-- TODO halt in echt abchecken --}}
        <div class="mt-1 flex items-center gap-x-1.5">
            <div class="flex-none rounded-full bg-emerald-500/20 p-1">
                <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
            </div>
            <p class="text-xs leading-5 text-gray-400">Verfügbar</p>
        </div>
    </div>
</li>
{{/partials/atoms/link}}